{%extends 'base.html'%}
{%load static%}

    {%block title%}Home {%endblock%}

    

    {%block style%}

    main{
                
        display:flex;
        justify-content:space-between;
        
    }
    
    section{
        margin-top:100px;
        width:100%;
        text-align: justify;
         
        
        }


    .left-aside{padding-left:10px;width:25%;height:200px;}
    
    article{margin-top:10px;
        background:rgb(248, 245, 245);
        text-align:justify;
        padding:8px;
        
        width:80%;
        margin-left:50px;
        
        
        }
    
        .search{margin-top:-90px;}
    
    .aside{width:30%;
        margin-left:50px;
         margin-top:250px;}
       
        .footer{
            
            margin-top:106px;
            height:150px;
            color:white;
            
        background:rgb(78, 72, 72);}
        
@media screen and (max-width:800px){

           
            .left-aside{padding-left:50px;width:25%;height:100px;}

        }
        .section{
            margin-top:120px;
            width:100%;
            text-align: justify;
             
            
            }
            .article{margin-top:10px;
                background:rgb(248, 245, 245);
                text-align:justify;
                padding:8px;
                
                width:80%;
                
                
                }
           
                .aside{width:50%;
                    margin-left:50px;
                    
                    
                }
                footer{
                    margin-top:50px;
                    height:100px;
                    color:white;
                    
                background:rgb(78, 72, 72);}

    {%endblock%}




{%block body%}

    <main>

        <!--this is the left aside bar which is for topics of data-->
        
        
        <section class='left-aside'>

              <p> Category</p>

            {%if topics %}
                
                    {%for topic in topics %}
                      <p> <a href={%url 'listdata' %}>{{topic}}</a></p>
                    {%endfor%}
                

            {%endif%}
            
        </section>
       
    
    <section class='section'>
        <article class='article' style='background:rgb(243, 214, 214);'>
        <h2>This is a SpeakinBlog Website Introduction:</h2><br>
        <p>Put your views on the site and share your thoughts with all over the world.
            Put your views on the site and share your thoughts with all over the world.
            Put your views on the site and share your thoughts with all over the world.
            Put your views on the site and share your thoughts with all over the world.
            Put your views on the site and share your thoughts with all over the world.
            Put your views on the site and share your thoughts with all over the world.
            <br><a href={%url 'register'%}>So create account Now!</a> 
        </p>
        </article>
           <br><br><br>
           

            
               {%if blog_data%}
               
                    {%for data in blog_data%}
                    <article>
                            
                            <h4><a href={%url 'detaildata' data.id%}> {{data.title}}</a></h4>

                            category-<small>{{data.topic}}</small><br><br>

                            <p>{{data.post}}</p><br>
                            
                            <h5>Author- {{data.created_by}} </h5><br><hr>

                        </article><br><br>
                    {%endfor%}
               {% endif %}


           
    </section>
    


    <!--This is right side bar of the home page where titles are listed only-->

    <section class='aside'>


                        <!--This is the search bar in webpage-->

                        <form method='get' class='search' action='search'>

                            <input type='text' name='search_me' placeholder='Search' style='height:24px;'>
                            <input type='submit' value='Search' style='cursor:pointer;padding:1px;background:black;color:white;font-size:15px;'>
                            
                        </form>
                             <br><br><br><br>



                        <p>All blogs-</p><br><br>

                            {%if data%}
                                {%for data in data%}
                                    
                           
                                         <p> <a href={%url 'detaildata' data.id%}> {{data.title}}</a></p><br>
                        
                                     
                                {%endfor%}
                            {%endif%}
                            <br><p ><a style='color:rgb(8, 8, 179);' href={%url 'listdata' %}>All blogs( {{count}} )</a></p>
    </section>


    </main>
    <footer class='footer'>
        This is my footer &copy;
    </footer>

    {%endblock%}
        
